<h1>Fonctionnement</h1>
<p>Lorsque la bobine est alimentée, le noyau se déplace suivant l'axe (+y), le fluide sous pression déforme la membrane (non représentée) et passe de l'orifice d'entrée à l'orifice de sortie (fig. 2). Lorsque la bobine n'est plus alimentée, le noyau se déplace suivant l'axe (-y), le circuit d'alimentation d‘eau correspondant est fermé (fig. 3).</p>
<img src="/supports/{{ dossier }}/images/fonctionnement.png" alt="Fonctionnement" height=400px class=association>