<h1>Mise en situation</h1>
<p>L'extracteur de roulement est un outil de maintenance mécanique utilisé pour démonter un roulement sans endommager l'arbre ou les pièces environnantes.</p>
<p>Il se compose d'une <strong>vis centrale</strong> qui exerce la force de poussée, et de 2 ou 3 <strong>doigts ou griffes</strong> qui s'accrochent sur la bague du roulement.</p>
<p>Exemple avec 3 doigts</p>
<img src="/supports/{{ dossier }}/images/mise-en-situation.jpg" alt="Mise en situation" height="400px" class="association">
<p>On le retrouve dans de nombreux secteurs : automobile, industrie, agricole.</p>
