<h1>Mise en situation</h1>
<p>Le frein à disque est un système de freinage monté sur les roues d'un véhicule. Il transforme l'énergie du mouvement en chaleur pour ralentir ou arrêter le véhicule.</p>
<p>Il est composé d'un <strong>disque</strong> solidaire de la roue, et d'un <strong>étrier</strong> qui pince le disque grâce à des <strong>plaquettes</strong> pour créer le freinage.</p>
<p>On le retrouve sur la quasi-totalité des voitures modernes, à l'avant et souvent à l'arrière.</p>
<img src="/supports/{{ dossier }}/images/mise-en-situation.png" alt="Mise en situation" height="450px" class="association">
