<h1>Mise en situation</h1>
<p>Le cric bouteille est uniquement un appareil de levage, pour effectuer des réparations sur un véhicule, utiliser des chandelles de sécurité. Il doit être utilisé sur une surface plane et dure.</p>
<img src="/supports/{{ dossier }}/images/mes.png"  alt="Mise en situation">
<p>Il est doté d'une soupape de sécurité en cas de surcharge</p>
<img src="/supports/{{ dossier }}/images/cric_reel.png"  alt="cric réel">