<h1>Mise en situation</h1>
<p>La pince de robot est un organe de préhension. C'est a dire qu'il sert a saisir des pièces d'un centre d'usinage. Cette pince se trouve en bout de bras manipulateur.</p>
<img src="/supports/{{ dossier }}/images/pince.png" alt="Mise en situation" height="400px" class="association">
