#nomenclature {
	margin: auto;
	border: 1px solid black;
}
#nomenclature thead {
	background-color: var(--couleur2);
	height:40px;
}
#nomenclature tbody tr:nth-child(even) { background-color: var(--couleur3); }

#nomenclature tbody tr:hover { background-color: var(--couleur1); }

#nomenclature td, #nomenclature th { padding: 3px; }

#nomenclature td img { height: 90px; }

/* largeur des colonnes */
.repere { width:40px; text-align: center; }
.image { width:200px; text-align: center; }
.designation { width:350px; }
.matiere { width:200px; }
.observation { width:200px; }
