<h1>Fonctionnement de l'unité de marquage</h1>
<p>Le vérin pneumatique actionne par l’intermédiaire d’un embiellage le levier 25 qui porte la tête de marquage.
Cette dernière vient heurter une tôle, en appui sur l’enclume 12, assurant ainsi l’impression en creux du numéro.
Une genouillère composée d’un galet (bague roulement 29) et d’une came (rampe 7) permet d’obtenir l’effort nécessaire.</p>

<p>Le profil de la came permet de conserver un effort constant de marquage durant les 4 derniers millimètres de déplacement de la tête.
Son profil permet aussi de compenser les déformations, l’usure des pièces mécaniques de l’unité et les variations d’épaisseur des tôles au niveau du marquage.</p>

<p>ILLUSTRATIONS À VENIR</p>