<h1>Mise en situation</h1>
<img src="/supports/{{ dossier }}/images/usine.png"  alt="chaine de montage">
<p>Les unités de marquage ont été conçues à la demande de l'industrie automobile française pour répondre au mieux
aux problèmes de « traçabilité » des tôles dans les ateliers de ferrage (assemblage des éléments de carrosserie). Elles
permettent de marquer par embossage un numéro de 8 caractères, dont 7 incrémentés en automatique, sur les organes de
sécurité (hauteur du caractère : 4 mm pour une profondeur de marquage de 0,2 mm).</p>

<img src="/supports/{{ dossier }}/images/photo.png"  alt="unité de marquage">
<p>L'unité de marquage est constituée de 2 éléments : une presse et une tête de marquage (Celle-ci peut d'ailleurs
à tout moment être remplacée par une tête de serrage). L'unité pneumatique se décline en 3 tailles, la plus petite
pouvant se monter à l'extrémité d'un bras robotisé.</p>
