<h1>Présentation des axes</h1>
<p>La butée dispose de 5 axes. C'est à dire qu'il y a 5 possibilités de mouvement indépendantes.</p>
<p style="text-align:center">Perspective de la butée avec le nom de chaque pièce</p>
<img src="/supports/{{ dossier }}/images/perspective-butee.png" height="500px" class="association" alt="Mise en situation">
<p>Les 5 axes :</p>
<ul>
	<li>axe 1: rotation de 360° de la contre-embase autour du socle</li>
	<li>axe 2: rotation de 90° du module bis autour de contre-embase</li>
	<li>axe 3: rotation de 90° de l'embase autour du module bis</li>
	<li>axe 4: rotation de 360° de l'intermédiaire autour de l'embase</li>
	<li>axe 5: translation de la tige dans l'intermédiaire</li>
</ul>
<p>Chaque axe est présenté individuellement en cliquant dans le menu ci-contre.</p>
