<h1>Présentation des axes</h1>
<p>La butée dispose de 5 axes. C'est à dire qu'il y a 5 possibilités de mouvement indépendantes.</p>
<p>ILLUSTRATION À VENIR</p>
<p>Chaque axe est pésenté individuellement en cliquant dans le menu ci-contre.</p>
