<h1>Cycle de fonctionnement d'un moteur thermique 2 temps</h1>
<div class="colonne">
<h2>Point mort bas (PMB)</h2>
<p>le piston est en position basse</p>
<img src="/supports/{{ dossier }}/images/PMB.png" alt ="point mort bas">
</div>

<div class="colonne">
<h2>Montée du piston</h2>
<p>phase de compression</p>
<img src="/supports/{{ dossier }}/images/montee.png" alt ="montée du poston">
</div>

<div class="colonne">
<h2>Point mort haut (PMH)</h2>
<p>explosion du mélange air-essence</p>
<img src="/supports/{{ dossier }}/images/PMH.png" alt ="point mort haut">
</div>

<div class="colonne">
<h2>Descente du piston</h2>
<p>phase d&apos;échappement</p>
<img src="/supports/{{ dossier }}/images/descente.png" alt ="descente du piston">
</div>
