<h1>Mise en situation</h1>
<p>Ce moteur est un moteur thermique monocylindre 2 temps, d'environ 6cm<sup>3</sup> de marque OSMAX. Il est utilisé pour propulser des modèles réduits d'avions à hélice, fonctionnant avec un mélange de méthanol, nytrométhane et d'huile de synthèse ou de ricin.</p>
<div style="display:inline-block; width:800px; vertical-align:top;">
	<h2>Caractéristiques techniques</h2>
	<ul>
	<li>Moteur 2 Temps</li>
	<li>Cylindrée : 5,90 cm3</li>
	<li>Fréquence de rotation: 2500 à 15000 tours/min</li>
	<li>Poids :	256 grammes</li>
	<li>Hélice recommandée : 10 x 5 ou 10 x 5,5</li>
	<li>Prix : 80 €uros TTC</li>
	<li>Carburant : Mélange de méthanol, nytrométhane et d'huile synthèse ou de ricin</li>
	<li>Allumage : Bougie Glow-Plug portée au rouge par une tension de 1,5V lors du démarrage</li>
	</ul>
</div>
<div style="display:inline-block; vertical-align:top;">
	<img src="/supports/{{ dossier }}/images//fonctionnement_moteur.gif" width="300px" alt="animation moteur">
</div>

