<h1>Mise en situation</h1>
<p>Une entreprise de fabrication de fixation de ski a été confrontée à un problème
lors de la conception d'un système mécanique de freinage pour un nouveau produit.
</p>
<p>En effet la cinématique de fonctionnement du frein a nécessité l'obligation de cambrer
les branches pour que les patins de frein se trouvent dans le prolongement du ski
une fois la chaussure enclenchée dans la fixation (voir photos 1 et 2).
</p>
<img src="/supports/{{ dossier }}/images/photo1et2_mes.png"  alt="Photos 1 et 2">
<p>En raison du surmoulage « plastique » des patins de frein sur les branches en acier
(voir photo 1) il n'a pas été possible de réaliser cette opération en amont . Il a donc fallu
développer une <b>machine spéciale</b> (voir photo 3) <b>pour cambrer les branches de frein</b>
après l'opération de surmoulage. (voir photos 4 et 4bis).
</p>
<img src="/supports/{{ dossier }}/images/photo34_et4bis_mes.png"  alt="photos 3, 4 et 4bis">
