{#
   Template de base pour les pages avec menu
#}

{% extends '1-base.html.twig' %}

{% include 'supports/urls.twig' %}

{% block balise_nav %}
<nav>
{{ menu | raw }}
</nav>
<a href="/">Page d'accueil</a>
{% endblock %}