{#
	Pages de type nomenclature
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/CSS/nomenclature.css" />
{% endblock %}

{% block contenu %}
<h1>Nomenclature</h1>
<p>Cliquez sur l'image de la pièce pour la télécharger au format eDrawing.</p>
<p>Attention: les images ne sont pas à l'échelle.</p>
<table id="nomenclature">
<thead>
	<tr>
		<th class="repere">Rep</th>
		<th class="image">Image</th>
		<th class="designation">Désignation (x quantité)</th>
		<th class="matiere">Matière</th>
		<th class="observation">Observations</th>
	</tr>
</thead>
<tbody>
</tbody>
</table>
{% endblock %}

{% block templates %}
<template id="ligne">
	<tr>
		<td class="repere"></td>
		<td class="image">
			<a href="" title="Télécharger le fichier eDrawing">
				<img src="" alt="" />
			</a>
		</td>
		<td class="designation"></td>
		<td class="matiere"></td>
		<td class="observation"></td>
	</tr>
</template>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/JS/creer-nomenclature.js"></script>
{% endblock %}