{#
	Pages de type nomenclature
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block css %}
	<link rel="stylesheet" href="/CSS/nomenclature.css" />
{% endblock %}

{% block contenu %}
<h1>Nomenclature</h1>
<p>Cliquez sur l'image de la pièce pour la télécharger au format eDrawing.</p>
<p>Attention: les images ne sont pas à l'échelle.</p>
<table id="nomenclature">
<thead>
	<tr>
		<th>Rep</th>
		<th>Image</th>
		<th>Désignation (x quantité)</th>
		<th>Matière</th>
		<th>Observations</th>
	</tr>
</thead>
<tbody>
</tbody>
</table>
{% endblock %}

{% block templates %}
<template id="ligne">
	<tr>
		<td></td>
		<td>
			<a href="" title="Télécharger le fichier eDrawing">
				<img src="" alt="" />
			</a>
		</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</template>
{% endblock %}
