{#
	Page en construction d'un dossier technique
#}

{% extends '11-base-avec-nav.html.twig' %}

{% block contenu %}
<h1>Page en construction</h1>
<p>Il semblerait que je n'ai pas rédigé cette page du dossier technique {{ du }}{{ support }}.</p>
<p>Si le problème persiste envoez moi un message précisant <b>URL incriminée</b>: {{ url }}
{% endblock %}
