{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/CSS/index.css" />
{% endblock %}

{% block contenu %}
<section>
	<h1>Cliquez sur l&apos;image ou le nom du support pour acc&eacute;der &agrave; son dossier technique</h1>
    <table>
	</table>
</section>
{% endblock %}

{% block templates %}
<template id="vignette">
		<td>
			<a href="">
				<img src="">
				<br>
				<span></span>
			</a>
		</td>
</template>
{% endblock %}

{% block scripts %}
<script src="/JS/accueil.js"></script>
{% endblock %}