{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/CSS/index.css" />
{% endblock %}

{% block contenu %}
<h1>Cliquez sur l'image ou le nom du support pour accéder à son dossier technique</h1>
<table>
</table>
{% endblock %}

{% block templates %}
<template id="vignette">
	<td>
		<a href="">
			<img src="">
			<br>
			<span></span>
		</a>
	</td>
</template>
{% endblock %}

{% block scripts %}
<script src="/JS/accueil.js"></script>
{% endblock %}