{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/CSS/index.css" />
{% endblock %}

{% block contenu %}
<section>
	<h1>Cliquez sur l&apos;image ou le nom du support pour acc&eacute;der &agrave; son dossier technique</h1>
	<p>En construction</p>
    <table>
	</table>
</section>
{% endblock %}

{% block scripts %}
<script src="/JS/accueil.js"></script>
{% endblock %}