{#
	Pages de dossier technique avec un code html de quelques lignes.
	Le code peut être mis directement par la méthode du contrôleur
#}

{% extends 'base.html.twig' %}

{% block balise_nav %}
<nav>
{{ menu | raw }}
</nav>
{% endblock %}

{% block contenu %}
{{ contenuHTML | raw }}
{% endblock %}