{#
	Pages de dossier technique avec insertion d'un fichier
	Le code doit être mis dans un fichier html séparé.
	Cette solution permet d'avoir un code aussi long qu'on souhaite
#}

{% extends 'base.html.twig' %}

{% block balise_nav %}
<nav>
{{ menu | raw }}
</nav>
{% endblock %}

{% block contenu %}
{% include fichierContenu %}
{% endblock %}