<h1>Mise en situation</h1>
<p>Ce bouton permet d'alimenter électriquement un appareil, tant qu'une action est exercée sur le bouton.</p>
<img src="/supports/{{ dossier }}/images/mise-en-situation.png" alt="Mise en situation" height=400px class=association></section>
