<h1>Diagramme pieuvre</h1>
<img src="/supports/{{ dossier }}/images/pieuvre.png" alt="Diagramme pieuvre" height="400px" class="association">
<p>Fonctions du bouton-poussoir:</p>
<ul>
<li>Fp : fermer un circuit électrique lorsque l'utilisateur appuie sur le bouton.</li>
<li>F1 : isoler électriquement l'utilisateur du circuit électrique.</li>
<li>F2 : se fixer sur le pupitre de manière rapide et démontable</li>
<li>F3 : assurer une liaison complète et démontable des fils du circuit électrique</li>
<li>F4 : avoir un bel aspect</li>
</ul>