<h1>Caractéristiques</h1>
<h2>Bride hydraulique</h2>
<ul>
	<li>Diamètre de la chambre : 40 mm</li>
	<li>Course du piston : 31,6 mm</li>
	<li>Pression maximum d’utilisation : 25 MPa</li>
	<li>Temps de manoeuvre : 1 seconde</li>
	<li>Epaisseur minimum à serrer : 6,75 mm</li>
	<li>Epaisseur maximum à serrer : 15.75 mm</li>
</ul>

<h2>Pompe Hydraulique</h2>
<ul>
	<li>Pression maximale de la pompe = 25 Mpa</li>
	<li>Débit Qv de la pompe = 2.4 l/min</li>
	<li>Puissance de la pompe = 1000 W</li>
</ul>

<h2>Régulateur de pression</h2>
<ul>
	<li>Pression de service : 7 MPa</li>
</ul>