<h1>Fonctionnement de la bride à nez rétractable</h1>
<p>La bride à nez rétractable est un élément de serrage de marque DE-STA-CO. Elle est hydraulique et à double effet.</p>
<ul>La sortie du nez de la bride s'effectue en 2 phases :
<li>1ère Phase : Le nez de la bride vient en butée sur l'axe Rep 11 d'un mouvement de translation rectiligne.</li>
<li>2ème Phase : Le nez de la bride effectue ensuite un mouvement de rotation autours de cet axe.</li>
</ul>
<p>En position de repos le nez de la bride est complètement rentré et de ce fait, l'opérateur peut soulever le bras articulé et enlever la pièce usinée.</p>
