<h1>Boîtier de raccord rotatif</h1>
<p>Le boîtier de raccord rotatif est un élément de l'ensemble raccord rotatif destiné à équiper une unité de distribution d'eau minérale.</p>
<div class="colonne">
<h2>Unité de distribution d'eau</h2>
<img src="/supports/{{ dossier }}/images/unite_distribution_eau.png" style=width:500px alt="Unité de distribution d'eau">

</div>
<div class="colonne">
<h2>Raccord rotatif</h2>
<img src="/supports/{{ dossier }}/images/raccord.png" style="width:300px" alt="raccord rotatif virtuel">
</div>
<h1>Mise en situation</h1>
<p>Un montage de bridage permet d'assurer la mise et le maintient en position des boîtiers des raccords tournants pour l'ensemble des opérations (perçages, taraudages et lamages radiaux).</p>
<ul>Ce montage est constitué de (voir FIG 1)
<li>Un bras articulé fixé sur le montage qui vient en appui sur la pièce.</li>
<li>Une bride à nez rétractable fixée sur le montage.</li>
</ul>
<p>L'ensemble est monté sur un plateau tournant d'un centre d'usinage 4 axes.</p>
<p>L'alimentation hydraulique se fait par les tuyaux flexibles.</p>
<img src="/supports/{{ dossier }}/images/figure1.png" style="width:900px" class="image_centree" alt="bride dans son contexte">