<h1>Étape 3 et 4 du transfert</h1>
<p>Le portique remonte, les préhenseurs effectuent une rotation  de trois quart de tour afin que le préhenseur resté à vide se positionne face à un centre d'usinage.</p>
<img src="/supports/{{ dossier }}/images/etape3.png"  height=500px alt="étape 3">
<img src="/supports/{{ dossier }}/images/etape4.png"  height=500px alt="étape 4">
