<h1>Mise en situation</h1>
<p>La culasse équipe les moteurs des véhicules de la gamme Renault comme :</p>
<ul>
	<li>La Laguna</li>
	<li>Le Scénic</li>
	<li>La Mégane</li>
</ul>
<img src="/supports/{{ dossier }}/images/mes1.png"  alt="culasse et moteur">
<p>L'essentiel des usinages se fait sur centre d'usinage 4 ou 5 axes URANES. Le transfert entre centres d'usinage est effectué par l'intermédiaire d'un préhenseur équipé de 2 pinces.</p>
<p>Chacune des faces de la culasse venant s'adapter avec un élément du moteur(voir figure ci-dessous) le préhenseur ne vient pas en contact avec celles-ci afin d'éviter le moindre choc qui entraînerait le rebut de la culasse.</p>
<p>Le préhenseur vient donc chercher un adaptateur sur lequel est fixée la culasse et dépose l'ensemble sur la palette des centres d'usinage.</p>
<img src="/supports/{{ dossier }}/images/mes2.png"  alt="culasse">
