<h1>Mise en situation</h1>
<p>L'étau de modéliste représenté ci-dessous est un outil employé par les modélistes pour maintenir en position une ou plusieurs pièces entre elles (MAP des pièces) afin de réaliser des opérations diverses telles que : Collage, Per çage, etc</p>
<img src="/supports/{{ dossier }}/images/etau.png" alt="Mise en situation" height="500px" class="association">