<h1>Mise en situation</h1>
<p>Le coupe-tube est l'un des outils manuels indispensables du plombier. Ce coupe-tube permet de sectionner des tubes de cuivre de 3 à 22 mm de diamètre extérieur. Il existe des coupe-tubes de différentes tailles en fonction des diamètres de tubes à sectionner.</p>
<img src="/supports/{{ dossier }}/images/mini_coupe-tube.png" alt="Mise en situation" height="400px" class="association">