<h1>Mise en situation</h1>
<p>Ce système permet de casser des noix sans effort important. Pour cela, il suffit de placer une noix sur la réhausse (repère 7 voir la nomenclature) et de baisser le levier (repère 2). Le piston (repère 5) va alors descendre et écraser la noix contre la réhausse et la casser.</p>

<div class="colonne">
<h2>levier levé</h2>
<img src="/supports/{{ dossier }}/images/levier_leve.png" style="width:300px" alt="levier levé">
</div>

<div class="colonne">
<h2>levier baissé</h2>
<img src="/supports/{{ dossier }}/images/levier_baisse.png" style="width:300px" alt="levier baissé">
</div>