<h1>Mise en situation</h1>
<p>Le système étudié ici est une bride hydraulique utilisée
pour effectuer le serrage d&apos;une pièce sur une machine outil.</p>
<p>L&apos;avantage d&apos;un tel système par rapport à un bridage manuel, est la possibilité de remplacer rapidement la pièce usinée par la nouvelle pièce. Lors de fabrications en série, le gain de temps peut-&ecirc;tre très important.</p>
<img src="/supports/{{ dossier }}/images/mise-en-situation.png" height="400px" class="association" alt="Mise en situation">
