<h1>Fonctionnement</h1>
<p>La pince de marquage est constituée de 2 éléments : un vérin pneumatique et une tête de marquage. Làunité pneumatique peut être modifiée suivant les besoins.</p>
<p>Le vérin pneumatique actionne par làintermédiaire de la came (repère 14) la fermeture des bras (repères 8 et 9). Làenclume et le poinçon viennent marquer la douille de lampe par écrasement de la matière plastique, assurant ainsi làimpression en creux des numéros.</p>
<p>Lorsque celle-ci est effectuée, un capteur inductif donne làordre à la tige de vérin de rentrer et le ressort de rappel (repère 25) ramène les bras en position initiale.</p>
<h1>Caractéristiques</h1>
<ul>
<li>Vérin pneumatique :
	<ul>
	<li>Ø du piston: 36 mm</li>
	<li>Course du vérin: 14 mm</li>
	<li>Pression dans le vérin: 0.6 MPa</li>
	</ul>
</li>
<li>Opérationnelles :
	<ul>
	<li>Fréquence: 2400 marquages/jour (soit 1 coup toutes les 36 s)</li>
	<li>Durée de vie: 6 millions de manœuvres</li>
	<li>Angle dàouverture maxi: 10°</li>
	</ul>
</li>
</ul>