<h1>Mise en situation</h1>
<p>Les unités de marquage ont été conçues à la demande de l'industrie automobile pour répondre au mieux aux problèmes de « Traçabilité » des douilles d'ampoule des phares de certaines voitures. Elles permettent de marquer un numéro à 4 caractères, qui définit une série de fabrication. (Hauteur du caractère : 4 mm pour une profondeur de marquage de 0,2 mm)</p>
<img src="/supports/{{ dossier }}/images/presentation.png" class="image_centree" alt="Présentation">
<img src="/supports/{{ dossier }}/images/douille.png" class="image_centree" alt="Douille marquée">

