.image_centree {
	display: block;
	max-width: 100%;
	margin: 0 auto; 
}
.colonne { /* colonne moitié de page */
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	padding-top: 0;
	width: 49%;
}