#page { /* conteneur */
	width: 1000px;
	height: 900px;
	margin: auto;
	position: relative;
}
/* Mise en page des blocs ------------------------------------------------------------------------------- */
#logo, header, nav, section, footer { position: absolute; }

#logo, header	{ height: 90px; }	/* première ligne		*/
nav, #logo		{ width: 180px;
						left: 0px }	/* première colonne	*/

nav, section {
 	top: 95px;							/* deuxième ligne		*/
 	bottom: 65px;
}
header, section {						/* deuxième colonne	*/
	left: 190px;
	right: 0px;
}
footer {									/* troisième ligne	*/
	left: 50px;
	right: 50px;
	bottom: 0;
}

/* le logo  ----------------------------------------------------------------------------------------------------------- */
#logo { text-align: center; }	/* logo qui sera cliquable pour télécharger l'archive zip qui contient la maquette */ 

#logo img {
	max-height: 80px;
	max-width: 170px;
	padding: 4px;
}

/* l'en-tete ---------------------------------------------------------------------------------------------------------- */
header {
	text-align: center;
	background-color: #FFFFDD;
}
header p {
	font-family: arial;
	font-size: 1.6em;
}

/* zone centrale --------------------------------------------------------------------------------------------------- */
section { overflow: auto; }

section h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
	margin-top: 0;
}
section ul { margin:0; }

section a { text-decoration: none;}

section a:hover { text-decoration: underline;}

/* pied de page --------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid black;
}
footer img {
	height:32px;
	vertical-align:middle;
}

/* class et id ------------------------------------------------------------------------------------------------------- */
.icone { /* formatage affichage */
	height: 40px;
	vertical-align: middle;
	padding: 2px;
	margin: 2px;
	display: inline; /* pour contrecarrer l'instruction display:block de la balise img */
	
#nomenclature {
	width: 750px;
	margin: auto;
}

#nomenclature table {
	border-collapse: collapse;
	text-align: center;
	margin: 20px;
}
#nomenclature td, #nomenclature th {
	border-bottom: 1px solid black;
	padding: 3px;
}
#nomenclature td img { height: 90px; }

#nomenclature tbody tr:hover { background-color: yellow; } /* toutes les lignes sauf l'en tete change de couleur au passage de la souris*/
}