body { background-color:#AED6F1;}

header, footer { 
	width:1400px;
	margin:auto;
}
/* l'en-tete ---------------------------------------------------------------------------------------------------------- */
header {
	text-align: center;
	background-color: #FFFFDD;
	margin-bottom:5px;
}
header img {
	max-height: 80px;
	max-width: 170px;
	padding: 4px;
	vertical-align:middle;
}

header p {
	font-family: arial;
	font-size: 1.6em;
	text-align: center;
	display:inline-block; /* affiche le texte juste aprè l'image */
	width:1200px;/* trouver comment prendre la largeur restante. auto ne le fait pas*/
	vertical-align:middle;
}

/* zone centrale --------------------------------------------------------------------------------------------------- */
section {
	font-family: "comic sans MS";
	padding: 3px;
	overflow: auto;
}
section h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
	margin-top: 0;
}
/* pied de page --------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	font-family: "comic sans MS";
	font-size: 0.8em;
	border-top: 1px solid black;
}
footer img {
	height:32px;
	vertical-align:middle;
}

