#page { /* conteneur */
	width: 1400px;
	height: 800px;
	margin: auto;
	position: relative;
}
/* l'en-tete ---------------------------------------------------------------------------------------------------------- */
header {
	text-align: center;
	background-color: #FFFFDD;
}
header p {
	font-family: arial;
	font-size: 1.6em;
}
/* zone centrale --------------------------------------------------------------------------------------------------- */
section {
	font-family: "comic sans MS";
	padding: 3px;
	overflow: auto;
}
section h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
	margin-top: 0;
}
/* pied de page --------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	font-family: "comic sans MS";
	font-size: 0.8em;
	border-top: 1px solid black;
}
footer img {
	height:32px;
	vertical-align:middle;
}

