section table {
	margin: auto;
	text-align: center;
}
section td { padding: 9px; }

section td a { display:block; }

section td:hover { background-color: var(--couleur1); } /* la case change de couleur au passage de la souris */

section img { /* formatage affichage */
	height: 100px;
	vertical-align: middle;
	padding: 2px;
	margin: 2px;
}
