/* pour la navigation --------------------------------------------------------------------------------------------------- */
nav {
	text-align: center;
	font-family: arial;
}
nav a { text-decoration: none; } /* aucun lien n'est souligné */

nav a:hover { text-decoration: underline; }/* les liens hors ceux du menu sont soulignés au passage de la souris */

nav ul {
	list-style-type: none;
	margin-bottom: 30px;
	margin-top: 0;
	padding: 0;
}
/* menu --------------------------------------------------------------------------------------------------- */
nav li, nav li a { color: white; } /* tous les items du menu sont écrits en blanc*/

nav li {
	line-height: 30px;
	margin-bottom: 5px;
}

nav li a {
	display: block;
	background-color: red;
}
nav li, nav li a:hover, .menu_selectionne { background-color: maroon; } /* couleur du menu sélectionné (pas de lien) et celui sous la souris */

nav li a:hover { text-decoration: none; } /* les liens survolés du menu et sous menu ne sont pas soulignés*/

/* sous-menu ------------------------------------------------------------------------------------------------------------------ */
nav ul ul {
	margin: 0;
	border: 1px solid maroon; /* meme couleur que le menu sélectionné */
	background-color: white;
}
nav ul ul a {
	display: block;
	font-weight: normal;
}
nav ul ul li, nav ul ul a, nav ul ul a:hover {
	color: black;					/* tous les textes du sous-menu sont en noir */
	background-color: white;	/* sur fond blanc */
	margin-bottom: 1px;
}
nav ul ul a:hover { background-color: yellow; } /* le sous item survolé est coloré en jaune */

nav ul ul li { font-weight: bold; } /* un sous-item sélectionné (sans lien) apparaît en gras */