section p { text-align: center; }

#nomenclature {
	width: 750px;
	margin: auto;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: 20px;
}
td, th {
	border-bottom: 1px solid black;
	padding: 3px;
}
td img { height: 90px; }

tbody tr:hover { background-color: yellow; } /* toutes les lignes sauf l'en tete change de couleur au passage de la souris*/