/* zone centrale --------------------------------------------------------------------------------------------------- */
section a { text-decoration: none; }

section table {
	margin: auto;
	text-align: center;
}
section td { padding: 9px; }

section td:hover { background-color: var(--couleur1); } /* la case change de couleur au passage de la souris */

section img { /* formatage affichage */
	height: 100px;
	vertical-align: middle;
	padding: 2px;
	margin: 2px;
}

/* formulaire de contact */
#formulaire {
	width:600px;
	margin:auto;
}

form p, form ul {
	margin-top:0;
	margin-bottom:9px;
}

input, textarea { width:100%; }

#validation {
	width:100%;
	background-color:var(--couleur1);
	padding:5px;
	margin-bottom:5px
}

#validation li { font-size:16px; }

