#page { /* conteneur */
	width: 1000px;
	height: 900px;
	margin: auto;
}
.vignette { /* formatage affichage */
	height: 80px;
	vertical-align: middle;
	padding: 2px;
	margin: 2px;
}
.image_centree {
	display: block;
	max-width: 100%;
	margin: 0 auto; 
}
/* l'en-tete --------------------------------------------------------------------------------------------------- */
header {
	text-align: center;
	height: 90px;
	background-color: #FFFFDD;
}
header img { /* logo */
	height: 80px;
	float: right;
	padding: 5px;
}
header p { 
	padding: 20px;
	font-family: arial;
	font-size: 1.6em;
}

/* zone centrale --------------------------------------------------------------------------------------------------- */
section {
	width: 100%;
	min-height: 500px;
	font-family: "comic sans MS";
	border: 1px solid green;
	/*overflow: auto;*/
	padding: 3px;
}
section h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
}
section ul { margin:0; }

section a { text-decoration: none;}

section a:hover { text-decoration: underline;}

section, nav {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}

/* pied de page --------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	font-family: "comic sans MS";
	font-size: 0.8em;
}

footer img {
	height:32px;
	vertical-align:middle;
}