<h1>Mise en situation</h1>
<p>Les pompes sont des composants essentiels dans de nombreux domaines industriels : elles permettent de déplacer, mettre en pression ou distribuer des fluides dans des circuits hydrauliques, pneumatiques ou thermiques.</p>
<p>Il en existe de nombreux types, chacun adapté à des contraintes spécifiques de débit, de pression ou de fluide transporté. Parmi eux, la pompe à palettes se distingue par sa compacité et la régularité de son débit.</p>
<p>Son fonctionnement se décompose en 2 étapes principales :<br>
- 1<sup>ière étape</sup> : aspiration<br>
- 2<sup>ième étape</sup> : refoulement</p>
<p>La cavité du corps est usinée suivant une forme de révolution dont la section est une
<a href="https://fr.wikipedia.org/wiki/Concho%C3%AFde" target="_blank">concoïde de cercle</a>. Les palettes traversent complètement l'arbre et sont toujours rigoureusement en contact avec la paroi interne de cette concoïde.</p>
<img src="/supports/{{ dossier }}/images/mes.png" alt="Mise en situation" height="400px" class="association">
