<h1>Mise en situation</h1>
<p>Les nombreux éléments électriques et électroniques montés sur la Citroën C4 HDI nécessitent une source d'énergie électrique fiable et embarquée. L'alternateur participe à cette opération, tout comme la batterie.</p>
<img src="{{ url_image }}/mes.png" alt="Mise en situation" height=400px class=association></section>
