<h1>Le cric fonctionne suivant deux phases</h1>
<ul>
<li>la montée: l'utilisateur va faire monter une partie du véhicule</li>
<li>la descente: l'utilisateur va faire descendre le véhicule puis retirer le cric</li>
<li> Pour utiliser correctement le cric, il y a quelques précautions à prendre</li>
</ul>
<p>Cliquez dans le sous-menu pour plus de précisions.</p>

