<h1>Pour baisser un véhicule</h1>
<ol>
	<li>Placer le levier sur la vis de descente.
		<img src="/supports/{{ dossier }}/images/vis2descente.png" style="height :150px; vertical-align: middle;" alt="vis de déscente">
	</li>
	<li>A l'aide du levier de manœuvre, ouvrez la vis de descente dans le sens inverse des aiguilles d'une montre ce qui permet de libérer l'huile contenue dans le vérin.
		<img src="/supports/{{ dossier }}/images/ouvrir_vis2descente.png" style="height :150px; vertical-align: middle;" alt="Ouvrir vis de déscente">
	</li>
	<li>Le poids du véhicule suffit pour obtenir la rentrée de tige. Lorsque le véhicule est en appui sur le sol, deux ressorts de rappel positionne le bras en position initiale.</li>
</ol>
