<h1>Pour lever un véhicule</h1>
<ol>
	<li>Garer le véhicule sur une surface plane et dure. Assurez-vous que le frein à main est bloqué et que le véhicule a une bonne stabilité.</li>
	<li>A l'aide du levier de manœuvre, fermez la vis de descente dans le sens des aiguilles d'une montre.<br>
		<img src="/supports/{{ dossier }}/images/vis2descente.png" style=height:180px alt="vis de déscente">
		<img src="/supports/{{ dossier }}/images/fermer_vis2descente.png" style=height:180px alt="Fermer vis de déscente">
	</li>
	<li>Positionner le cric sous le châssis du véhicule en plaçant la sellette sous le bas de caisse.</li>
	<li><img src="/supports/{{ dossier }}/images/pomper.png" style=height:180px;float:right; alt="pomper pour lever le véhicule">
		Placer le levier dans la gouge de commande de la pompe. Agir sur le levier par un mouvement alternatif "haut bas" pour actionner la pompe et soulever la sellette par l'intermédiaire du bras et du vérin.
		<ul>
			<li>Phase d'approche : La sellette s'élève mais n'est pas en appui sous le bas de caisse, le véhicule n'est pas soulevé.</li>
			<li>Phase travail : Lorsque la sellette s'appuie sur le châssis, la caisse du véhicule est soulevée puis, lorsque la longueur de  débattement de la suspension est obtenue, la roue s'élève.</li>
		</ul>
	</li>
	<li>Effectuer l'opération de maintenance.</li>
</ol>
<p>ATTENTION : le cric est uniquement un appareil de levage. Après levage, toujours utiliser un support de sécurité avant d'effectuer votre réparation. Ne jamais utiliser le cric au-delà des capacités indiquées(2 tonnes).
</p>